$breakpoint-desktops: "(min-height:1281px)";
$breakpoint-laptops: "(min-width: 1025px) and (max-width: 1280px)";
$breakpoint-tablets:"(min-width:768px) and (max-width:1024px)";
$breakpoint-phone-large:"(min-width:481px) and (max-width:767px)";
$breakpoint-phone:"(min-width:320px) and (max-width:479px)";
// @media #{$breakpoint-desktops}
// @media #{$breakpoint-laptops} 
// @media #{$breakpoint-tablets} 
// @media #{$breakpoint-phone-large} 
// @media #{$breakpoint-phone} 




* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body, html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:1rem;
    line-height: 1.5;
    overflow-x:hidden;
    background:url('../../img/admindash.jpg') no-repeat center;
    background-size:cover;
    height:100%;
}


.wrapper {
    min-height:100%;
}


.navbar-container {
    background: #eee !important;
    z-index: 99;
    min-width:100%;
    .nav-index {
        .navbar-nav {
            .nav-link {
                position: relative; //needs relative for psuedo element to work
                text-decoration: none;
                display:inline-block;
                // margin-left: 20px;
            }
            .nav-link:hover {
                color: #5bc0eb !important;
            }
            .nav-link:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: #5bc0eb;
                visibility: hidden;
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
                -webkit-transition: all 0.3s ease-in-out 0s;
                transition: all 0.3s ease-in-out 0s;
            }
            .nav-link:hover:before {
                visibility: visible;
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
            }
            .admin-logout {
                &:hover {
                    color: #5bc0eb;
                    background-color: #eee;
                    border-color: #5bc0eb;                 
                }
                @media #{$breakpoint-desktops} {
                    margin-left:1rem;
                }
                @media #{$breakpoint-laptops} {
                    margin-left:1rem;
                }
            }
        }
    }
}




#main-wrapper {
    .add-btn:hover {
        text-decoration: none;
    }
    padding:0 7rem;
    margin:65px 0;
    @media #{$breakpoint-tablets} {
        padding:0 6rem;
        margin:110px 0;
    }
    @media #{$breakpoint-phone-large} {
        padding:0px;
        margin:80px 0;
    }
    @media #{$breakpoint-phone} {
        padding:0px;
        margin: 81px 0;
    }
    .head-container {
        @media #{$breakpoint-phone-large} {
            display:none;
        }
        @media #{$breakpoint-phone} {
            display:none;
        }
    }
    .container-table {
        height: 63vh;
        overflow: auto;
        background: #efefef;
        border-radius:5px;
        @media #{$breakpoint-phone} {
            padding:0;
        }
        @media #{$breakpoint-phone-large} {
            padding:0;
        }

        .fa-trash {
            cursor:pointer;
            text-align: center;
            margin-left: 1.5rem;
            @media #{$breakpoint-tablets} {
                margin:0px;
                padding-left:14px;
            }
        }
        th {
            position: sticky;
            top:0;
            background-color:#fff;
            z-index: 1;
            border-top:1px;
            margin: 0px;
        }
        table {
            .th-user-created_at, .td-user-created_at, .td-user-id{
                @media #{$breakpoint-phone} {
                    display:none;
                }
                @media #{$breakpoint-phone-large} {
                    display:none;
                }
                @media #{$breakpoint-tablets} {
                    display:none;
                }
            }
            .th-user-email, .td-user-email, .th-user-id {
                @media #{$breakpoint-phone} {
                        display:none;
                }
                @media #{$breakpoint-phone-large} {
                    display:none;
                }
            }
        }
    }
}

.modal-body p{
    margin-top:1rem !important;
    margin-bottom:1rem !important;
}

#footer-small {
    min-width:100%;
    background: #eee;
    @media #{$breakpoint-phone} {
        padding-top:5px; 
        padding-bottom:13px;
    }
    bottom:0px;
    .fa {
        padding:0px;
        margin:0px;
    }
    .fa-copyright {
        color:black;
        padding-bottom:8px;
    }
    .dropdown-toggle {
        margin-top:6px;
    }
    #email {
        color:#ed7b7b;
        opacity:1;
        float:left;
        padding: 5px 10px 10px;    
    }
    
    #github {
        color:#ed7b7b;
        opacity:1;
        float:left;
        padding: 5px 10px 10px;
    }
    
    #linkedin {
        color:#ed7b7b;
        opacity:1;
        float:left;
        padding: 5px 10px 10px;
    }
    display:none;
    @media #{$breakpoint-phone} {
        display:block;
    }
}

#footer-normal {
    min-width:100%;
    z-index:99;
    background: #eee;
    padding-top:5px; 
    bottom:0px;
    @media #{$breakpoint-phone} {
        padding-top:5px; 
        padding-bottom:13px;
    }
    .fa {
        padding:0px;
        margin:0px;
    }
    .fa-copyright {
        color:black;
    }
    #email {
        color:#ed7b7b;
        opacity:1;
        float:left;
        padding: 5px 10px 10px;    
    }
    
    #github {
        color:#ed7b7b;
        opacity:1;
        float:left;
        padding: 5px 10px 10px;
    }
    
    #linkedin {
        color:#ed7b7b;
        opacity:1;
        float:left;
        padding: 5px 10px 10px;
    }
    @media #{$breakpoint-phone} {
        display:none;
    }
}
