*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body { 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height:100vh;
    font-size:1rem;
    margin:0px !important;
    line-height: 1.5;
    color:#eee;
    overflow-x:hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../../img/signin-dashboard.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.form-container {
    float: right;
    margin-top: 10%
}

.register-link {
    color:#ed7b7b;
}

.container {
    height: 100%;
}

footer {
    z-index:99;
    background: #eee;
    padding-top:5px;
    .fa-copyright {
        color:black;
    }
    #email {
        color:#ed7b7b;
        opacity:1;
        float:left;
        padding: 5px 10px 10px;    
    }
    
    #github {
        color:#ed7b7b;
        opacity:1;
        float:left;
        padding: 5px 10px 10px;
    }
    
    #linkedin {
        color:#ed7b7b;
        opacity:1;
        float:left;
        padding: 5px 10px 10px;
    }
}


