*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body { 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height:100vh;
    font-size:14px;
    margin:0px !important;
    line-height: 1.5;
    color:#eee;
    overflow-x:hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../../img/singin.jpg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

nav {
    background: #eee !important;
    .navbar-nav {
        .nav-link {
            margin-left: 20px
        }
    }
}
    

.nav-index {
    position:absolute;
    z-index: 99;
    width:100%;
    top:0;
}


.navbar{
    .navbar-nav {
        .nav-link {
            position: relative; //needs relative for psuedo element to work
            text-decoration: none;
            display:inline-block;
        }
        .nav-link:hover {
            color: #5bc0eb !important;
        }
        .nav-link:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: #5bc0eb;
            visibility: hidden;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
        }
        .nav-link:hover:before {
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }
    }
}

.form-container {
    text-align: center;
    form {
      padding: 50px;
      padding-top:200px;
      input {
          opacity:0.7;
      }
    }
    .asterisk {
        color:red;
    }
    a {
        color:#eee
    }
}

.wrapper {
    min-height: 100vh;
    min-width: 100%;
    margin-top:100px;
}

.container-message {
    margin-top:-24px;
}

.container {
    height: 100%;
}

#footer-small {
    min-width:100%;
    z-index:99;
    background: #eee;
    padding-top:5px;
    position:fixed;
    bottom:0px;
    .fa {
        padding:0px;
        margin:0px;
    }
    .fa-copyright {
        color:black;
        padding-bottom:8px;
    }
    .dropdown-toggle {
        margin-top:6px;
    }
    #email {
        color:#ed7b7b;
        opacity:1;
        float:left;
        padding: 5px 10px 10px;    
    }
    
    #github {
        color:#ed7b7b;
        opacity:1;
        float:left;
        padding: 5px 10px 10px;
    }
    
    #linkedin {
        color:#ed7b7b;
        opacity:1;
        float:left;
        padding: 5px 10px 10px;
    }
    @media (min-width:427px) {
        display:none;
    }
}

#footer-normal {
    min-width:100%;
    z-index:99;
    background: #eee;
    padding-top:5px;
    position:fixed;
    bottom:0px;
    .fa {
        padding:0px;
        margin:0px;
    }
    .fa-copyright {
        color:black;
    }
    #email {
        color:#ed7b7b;
        opacity:1;
        float:left;
        padding: 5px 10px 10px;    
    }
    
    #github {
        color:#ed7b7b;
        opacity:1;
        float:left;
        padding: 5px 10px 10px;
    }
    
    #linkedin {
        color:#ed7b7b;
        opacity:1;
        float:left;
        padding: 5px 10px 10px;
    }
    @media (max-width:426px) {
        display:none;
    }
}
