* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body, html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: url("../../img/dashboard.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 1rem;
  line-height: 1.5;
  overflow-x: hidden;
  height: 100%;
}

.wrapper {
  min-height: 100%;
}

.navbar-container {
  background: #eee !important;
  z-index: 99;
  min-width: 100%;
}

.navbar-container .nav-index .navbar-nav .nav-link {
  position: relative;
  text-decoration: none;
  display: inline-block;
}

.navbar-container .nav-index .navbar-nav .nav-link:hover {
  color: #5bc0eb !important;
}

.navbar-container .nav-index .navbar-nav .nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #5bc0eb;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.navbar-container .nav-index .navbar-nav .nav-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.navbar-container .nav-index .navbar-nav .admin-logout:hover {
  color: #5bc0eb;
  background-color: #eee;
  border-color: #5bc0eb;
}

@media (min-height: 1281px) {
  .navbar-container .nav-index .navbar-nav .admin-logout {
    margin-left: 1rem;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .navbar-container .nav-index .navbar-nav .admin-logout {
    margin-left: 1rem;
  }
}

.navbar-container .nav-index .navbar-nav .user-logout {
  background-color: #5bc0eb;
  color: rgba(0, 0, 0, 0.5);
}

.navbar-container .nav-index .navbar-nav .user-logout:hover {
  border-color: #5bc0eb;
  background-color: #eee;
  color: #5bc0eb;
}

.main-wrapper {
  margin-top: 85px;
  padding: 0 5rem;
}

@media (min-width: 481px) and (max-width: 767px) {
  .main-wrapper {
    padding: 0;
    margin-top: 0;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .main-wrapper {
    padding: 0;
    margin-top: 0;
  }
}

.header {
  margin-top: 100px;
}

.fa-edit {
  text-align: center;
}

.container-table {
  height: 65vh;
  overflow: auto;
  background: #efefef;
  border-radius: 5px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container-table {
    height: 73vh;
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .container-table {
    padding: 0px;
    border: none !important;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .container-table {
    padding: 0px;
    border: none !important;
    height: 91vh;
  }
}

.container-table .fa-trash {
  cursor: pointer;
  text-align: center;
  margin-left: 1.5rem;
}

.container-table th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
  border-top: 1px;
  margin: 0px;
}

@media (max-width: 767px) {
  .container-table table .th-user-created_at, .container-table table .td-user-created_at {
    display: none;
  }
}

@media (max-width: 556px) {
  .container-table table .th-user-email, .container-table table .td-user-email {
    display: none;
  }
}

@media (max-width: 737px) {
  .container-table table {
    height: 65vh;
  }
}

.modal-body p {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

#footer-small {
  min-width: 100%;
  background: #eee;
  bottom: 0px;
  display: none;
}

@media (min-width: 320px) and (max-width: 479px) {
  #footer-small {
    padding-top: 5px;
    padding-bottom: 13px;
  }
}

#footer-small .fa {
  padding: 0px;
  margin: 0px;
}

#footer-small .fa-copyright {
  color: black;
  padding-bottom: 8px;
}

#footer-small .dropdown-toggle {
  margin-top: 6px;
}

#footer-small #email {
  color: #ed7b7b;
  opacity: 1;
  float: left;
  padding: 5px 10px 10px;
}

#footer-small #github {
  color: #ed7b7b;
  opacity: 1;
  float: left;
  padding: 5px 10px 10px;
}

#footer-small #linkedin {
  color: #ed7b7b;
  opacity: 1;
  float: left;
  padding: 5px 10px 10px;
}

@media (min-width: 320px) and (max-width: 479px) {
  #footer-small {
    display: block;
  }
}

#footer-normal {
  min-width: 100%;
  z-index: 99;
  background: #eee;
  padding-top: 5px;
  bottom: 0px;
}

@media (min-width: 320px) and (max-width: 479px) {
  #footer-normal {
    padding-top: 5px;
    padding-bottom: 13px;
  }
}

#footer-normal .fa {
  padding: 0px;
  margin: 0px;
}

#footer-normal .fa-copyright {
  color: black;
}

#footer-normal #email {
  color: #ed7b7b;
  opacity: 1;
  float: left;
  padding: 5px 10px 10px;
}

#footer-normal #github {
  color: #ed7b7b;
  opacity: 1;
  float: left;
  padding: 5px 10px 10px;
}

#footer-normal #linkedin {
  color: #ed7b7b;
  opacity: 1;
  float: left;
  padding: 5px 10px 10px;
}

@media (min-width: 320px) and (max-width: 479px) {
  #footer-normal {
    display: none;
  }
}
/*# sourceMappingURL=userDash.css.map */