$breakpoint-desktops: "(min-height:1281px)";
$breakpoint-laptops: "(min-width: 1025px) and (max-width: 1280px)";
$breakpoint-tablets:"(min-width:768px) and (max-width:1024px)";
$breakpoint-phone-large:"(min-width:481px) and (max-width:767px)";
$breakpoint-phone:"(min-width:320px) and (max-width:479px)";
// @media #{$breakpoint-desktops}
// @media #{$breakpoint-laptops} 
// @media #{$breakpoint-tablets} 
// @media #{$breakpoint-phone-large} 
// @media #{$breakpoint-phone} 



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:1rem;
    line-height: 1.5;
    overflow-x:hidden;
    height:100%;
}

.wrapper {
    min-height:100%;
}


.navbar-container {
    background: #eee !important;
    z-index: 99;
    min-width:100%;
    .nav-index {
        .navbar-nav {
            .nav-link {
                position: relative; //needs relative for psuedo element to work
                text-decoration: none;
                display:inline-block;
                // margin-left: 20px;
            }
            .nav-link:hover {
                color: #5bc0eb !important;
            }
            .nav-link:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: #5bc0eb;
                visibility: hidden;
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
                -webkit-transition: all 0.3s ease-in-out 0s;
                transition: all 0.3s ease-in-out 0s;
            }
            .nav-link:hover:before {
                visibility: visible;
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
            }
            .admin-logout {
                &:hover {
                    color: #5bc0eb;
                    background-color: #eee;
                    border-color: #5bc0eb;                 
                }
                @media #{$breakpoint-desktops} {
                    margin-left:1rem;
                }
                @media #{$breakpoint-laptops} {
                    margin-left:1rem;
                }
            }
        }
    }
}


.fa-pencil-alt {
    text-align: center;
}

.user-info-wrap {
    margin-left:0 auto;
    p{
        word-wrap: break-word; 
    }
    .post-input {
        margin: 1rem 0;
    }
}

#user-header {
    margin-top:70px;
}

.message-container {
    .comment {
        padding:1rem 2rem;
    }
    .comment-container {
        height:45vh;
        overflow:scroll;
        border: solid black 1px;
        border-radius: 5px;
        overflow-x:hidden;
        .comment-message {
            margin:0px;
        }    
        small {
            font-size:12px;
        }    
    }
    .comment-input {
        padding:0px;
        margin:1rem 0 6rem;
    }
    hr {
        height:1px;
        background-color:#eee;
        margin:45px 0;
    }
    .created-message {
        margin-bottom:6px;
    }
    small {
        font-size:12px;
    }
}

#last-hr:last-child {
    display:none;
}

#user-messages {
    margin:90px 0 70px;
}

#footer-small {
    min-width:100%;
    background: #eee;
    @media #{$breakpoint-phone} {
        padding-top:5px; 
        padding-bottom:13px;
    }
    bottom:0px;
    .fa {
        padding:0px;
        margin:0px;
    }
    .fa-copyright {
        color:black;
        padding-bottom:8px;
    }
    .dropdown-toggle {
        margin-top:6px;
    }
    #email {
        color:#ed7b7b;
        opacity:1;
        float:left;
        padding: 5px 10px 10px;    
    }
    
    #github {
        color:#ed7b7b;
        opacity:1;
        float:left;
        padding: 5px 10px 10px;
    }
    
    #linkedin {
        color:#ed7b7b;
        opacity:1;
        float:left;
        padding: 5px 10px 10px;
    }
    display:none;
    @media #{$breakpoint-phone} {
        display:block;
    }
}

#footer-normal {
    min-width:100%;
    z-index:99;
    background: #eee;
    padding-top:5px; 
    bottom:0px;
    @media #{$breakpoint-phone} {
        padding-top:5px; 
        padding-bottom:13px;
    }
    .fa {
        padding:0px;
        margin:0px;
    }
    .fa-copyright {
        color:black;
    }
    #email {
        color:#ed7b7b;
        opacity:1;
        float:left;
        padding: 5px 10px 10px;    
    }
    
    #github {
        color:#ed7b7b;
        opacity:1;
        float:left;
        padding: 5px 10px 10px;
    }
    
    #linkedin {
        color:#ed7b7b;
        opacity:1;
        float:left;
        padding: 5px 10px 10px;
    }
    @media #{$breakpoint-phone} {
        display:none;
    }
}
