<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% load static %}
        <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}"" type="image/x-icon"> 
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../../static/stylesheet/css/admin-edit.css">
        <title>Edit User</title>
    </head>
    <body>    
        <nav class="navbar nav-index navbar-light navbar-expand-lg sticky-top">
            {% if curr_user.admin == 'Admin' %}
                <a href="/dashboard/admin" class="nav-link navbar-brand"><img src="./../../static/img/cockpit-brand.png" alt="Brand" class="d-inline-block align-top" width="50" height="50"></a>
            {% else %}
                <a href="/dashboard" class="nav-link navbar-brand"><img src="./../../static/img/cockpit-brand.png" alt="Brand" class="d-inline-block align-top" width="50" height="50"></a>
            {% endif %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse menu" id="navbarSupportedContent" >
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        {% if curr_user.admin == 'Admin'%}
                            <a href="/dashboard/admin" class="nav-link">Home</a>
                        {% else %}
                            <a href="/dashboard" class='nav-link'>Home</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        <a href="/users/show/{{curr_user.id}}" class="nav-link">{{curr_user.first_name}}</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Contact Us</a>
                    </li>
                    <li class="navbar-item">
                        <a href="#" class="nav-link">About Us</a>
                    </li>     
                    <li class = "navbar-item">
                        <form action="/logout" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-warning admin-logout">Logout</button>
                        </form>
                    </li>           
                </ul>
            </div>
        </nav>

        <div class="wrapper">
            <div class="container">  
                <div class="text-danger text-left">
                    <ul class="list-unstyled">
                        {% if messages %}
                            {% for message in messages %}
                            <li class= "form-group row message">
                                <h6><span class='asterisk'>*</span>{{message}}</h6>
                            </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="container body-container">
                <div class="row justify-content-between">
                    <div class='col'>
                        <h2>{{users.first_name}} {{users.last_name}}</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 form-container">
                        <form action="/adminInfoUpdate/{{users.id}}" method="post" class='edit-form'>
                            {% csrf_token %}
                            <h3>Edit Information</h3>
                            <div class="form-row">
                                <div class="form-group col">
                                    <label for="email">Email Address</label>
                                    <input type="email" name="email" value="{{users.email}}" class="form-control" >
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <label for="first_name">First Name</label>
                                    <input type="text" name="first_name" value="{{users.first_name}}" class="form-control">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <label for="last_name">Last Name</label>
                                    <input type="text" name="last_name" value="{{users.last_name}}" class="form-control">
                                </div>       
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <label for="level">User Level</label>
                                    <select class="form-control" name="admin" title="Choose one of the following...">
                                        <option name="normal">Normal</option>
                                        <option name="admin">Admin</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group">
                                    <button type='submit' class="btn bg-info text-white float-right form-control">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-5 offset-lg-2 form-container">
                        <form action="/adminPassUpdate/{{users.id}}" method="post" class='edit-form'>
                            <h3>Change Password</h3>
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label for="password">Password</label>
                                    <input type="password" name="password" class="form-control">
                                    <small class="form-text text-muted">
                                        Password must be 8 charaters
                                    </small>    
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label for="password_confirmation">Confirmation Password</label>
                                    <input type="password" name="confirmation_password" class="form-control">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group">
                                    <button class="btn btn-info float-right form-control" type='button' data-toggle="modal" data-target="#myModal">Update Password</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container footer-container">
                <div class="row">
                    <div class="col">
                        <a href="#"><i id="linkedin" class="fab fa-linkedin fa-2x"></i></a> 
                        <a href="#"><i id="email" class="fas fa-envelope fa-2x"></i></a> 
                        <a href="#"><i id="github" class="fab fa-github fa-2x"></i></a> 
                        <p class="h5 ml-5 pt-2 float-right text-light"><i class="far fa-copyright mr-3"> 2019 Cockpit Crew</i></p> 
                    </div>
                </div>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>   
    </body>
</html>