<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% load static %}
        <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon"> 
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../../static/stylesheet/css/profile.css">
        <title>User Profile</title>
    </head>
    <body>
        <nav class="navbar nav-index navbar-light navbar-expand-lg sticky-top">
            <a href="/dashboard" class="nav-link navbar-brand"><img src="./../../static/img/cockpit-brand.png" alt="Brand" class="d-inline-block align-top" width="50" height="50"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse menu" id="navbarSupportedContent" >
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/dashboard/admin" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/users/show/{{curr_user.id}}" class="nav-link">{{curr_user.first_name}}</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Contact Us</a>
                    </li>
                    <li class="navbar-item">
                        <a href="#" class="nav-link">About Us</a>
                    </li>     
                    <li class = "navbar-item">
                        <form action="/logout" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-success logout">Logout</button>
                        </form>
                    </li>           
                </ul>
            </div>
        </nav>
            
        <div class="container" style="margin-top:15px;">  
            <div class="d-inline">
                <div class="text-danger text-left">
                    <ul class="list-unstyled">
                        {% if messages %}
                            {% for message in messages %}
                            <li class= "form-group">
                                <h6>{{message}}</h6>
                            </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
                <div class = "form-group">
                    <p><h3>{{users.first_name}} {{users.last_name}}</h3><button class="btn btn-primary" type="submit"><a id="profile-edit" class="text-white" href="/edit/{{users.id}}">Edit</a></button></p>
                    <p>Registered at: {{users.created_at}}</p>
                    <p>User ID: {{users.id}}</p>
                    <p>Email address: {{users.email}}</p>
                    <p>Description: {{users.description}}</p>
                </div>
                <div class = "form-group">
                    <p><h3>Leave a message for {{users.first_name}}</h3></p>
                    {{msg.message.content}}
                    <form action="/messageto/{{users.id}}" method="post">
                        {% csrf_token %}
                        <input type="text" name="content" class="form-control" placeholder="Write a message..."></input>
                        <button class = "btn btn-success float-right mt-2" type="submit">Post</button>
                    </form>
                </div>
                <br>
                <div class="form-group" style="margin-top:50px;">  
    <!--row-->      <div class="text-left"> 
                        {% for msg in msg %}
    <!--col-12-->       <div class = "messages" style="margin-top:100px;">  
                            <p><h6>{{msg.user.first_name}} {{msg.user.last_name}} left a message saying: <span class= "float-right">{{msg.created_at}}</span></h6></p>
                            <input class="form-control" type="text" name="{{msg.id}}" value="{{msg.content}}">
                        </div>
                            {% for comment in msg.message.all %}
    <!--col-9 -->               <div class = "comments" style="margin-top:20px;"> 
                                    <p><h7><a href="/users/show/{{comment.user.id}}">{{comment.user.first_name}} {{comment.user.last_name}}</a> left a comment saying: <span class="float-right">{{comment.created_at}}</span></h7></p>
                                    <input class="form-control" type="text" name="{{comment.id}}" value="{{comment.content}}">
                                </div>
                            {% endfor %}
                            <div class="form-group">
                                <form action="/commentto/{{users.id}}/{{msg.id}}" method="post">
                                    {% csrf_token %}
                                    <input class = "form-control float-right mt-1 text-secondary bg-light" type="text" name="content" placeholder="Write a comment..."> 
                                    <br>
                                    <br>
                                    <button class = "btn btn-success  btn-sm float-right"  type="submit">Post</button>
                                </form>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <a href="#"><i id="linkedin" class="fab fa-linkedin fa-2x"></i></a> 
                        <a href="#"><i id="email" class="fas fa-envelope fa-2x"></i></a> 
                        <a href="#"><i id="github" class="fab fa-github fa-2x"></i></a> 
                        <p class="h5 ml-5 pt-2 float-right text-light"><i class="far fa-copyright mr-3"> 2019 Cockpit Crew</i></p> 
                    </div>
                </div>
            </div>
        </footer>
    
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>   
    </body>
</html>