<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% load static %}
        <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon"> 
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../../static/stylesheet/css/profile.css">
        <title>User Profile</title>
    </head>
    <body>
        <nav class="navbar nav-index navbar-light navbar-expand-lg sticky-top">
            {% if curr_user.admin == 'Admin' %}
                <a href="/dashboard/admin" class="nav-link navbar-brand"><img src="./../../static/img/cockpit-brand.png" alt="Brand" class="d-inline-block align-top" width="50" height="50"></a>
            {% else %}
                <a href="/dashboard" class="nav-link navbar-brand"><img src="./../../static/img/cockpit-brand.png" alt="Brand" class="d-inline-block align-top" width="50" height="50"></a>
            {% endif %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse menu" id="navbarSupportedContent" >
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        {% if curr_user.admin == 'Admin'%}
                            <a href="/dashboard/admin" class="nav-link">Home</a>
                        {% else %}
                            <a href="/dashboard" class='nav-link'>Home</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        <a href="/users/show/{{curr_user.id}}" class="nav-link">{{curr_user.first_name}}</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Contact Us</a>
                    </li>
                    <li class="navbar-item">
                        <a href="#" class="nav-link">About Us</a>
                    </li>     
                    <li class = "navbar-item">
                        <form action="/logout" method="post">
                            {% csrf_token %}
                            {% if curr_user.admin == 'Admin' %}
                                <button type="submit" class="btn btn-warning admin-logout">Logout</button>
                            {% else %}
                                <button type="submit" class="btn btn-outline-success btn-logout">Logout</button>
                            {% endif %}
                        </form>
                    </li>           
                </ul>
            </div>
        </nav>
            
        <div class="wrapper">  
            <section id='user-header'>
                <div class="container">  
                    <div class="text-left">
                        <ul class="list-unstyled">
                            {% if messages %}
                                {% for message in messages %}
                                    <li class= "form-group row message text-danger">
                                        <h6>{{message}}</h6>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="container user-info-wrap">
                    <div class="row">
                        <div class="col-md mb-3">
                            {% if curr_user.id == users.id %}
                                <a href="/edit/{{users.id}}" class='mr-2'><i class="fas fa-pencil-alt fa-lg"></i></a>
                            {% elif curr_user.admin == 'Admin' %}
                                <a href="/users/edit/{{users.id}}" class='mr-2'><i class="fas fa-pencil-alt fa-lg"></i></a>
                            {% endif %}
                            <h3 class='d-inline'>{{users.first_name}} {{users.last_name}}</h3> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <p><span  class='font-weight-bold'>Hired:</span> {{users.created_at}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <p><span  class='font-weight-bold'>User ID:</span> {{users.id}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <p><span class='font-weight-bold'>Email:</span> {{users.email}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md row-description">
                            {% if users.description %}
                                <p><span class='font-weight-bold'>Description:</span> {{users.description}}</p>
                            {% elif not users.description and curr_user.id != users.id%}
                                <p class='font-weight-bold'>Description:</p>
                            {% else %}
                                <p><span class='font-weight-bold'>Description:</span> Tell us about yourself.</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <form action="/messageto/{{users.id}}" method="post">
                            {% csrf_token %}
                            <div class="col-sm-8 form-group float-right">
                                <div class="input-group post-input">
                                    <input type="text" name="content" class="form-control" placeholder="Write a message..."></input>
                                    <div class="input-group-append">
                                        <button class ="btn btn-secondary" type="submit">Post</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>

            <section id='user-messages'>
                <div class="container message-container">  
                    {% for msg in msg %}
                        <div class="row">
                            <div class="col comment">
                                <a href='/users/show/{{msg.user.id}}'><h5 class='font-weight-bold text-right'>{{msg.user.first_name}} {{msg.user.last_name}}</a> says:</h5>
                                <div class="row">
                                    <div class="col-sm">
                                        <h5 class='text-right created-message'>{{msg.content}}</h5>
                                        <small class='float-right'>@{{msg.created_at}}</small>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                        <div class="comment-container">
                            {% for comment in msg.message.all %}
                            <div class="row">
                                <div class="col comment">
                                    <h5><a href="/users/show/{{comment.user.id}}">{{comment.user.first_name}} {{comment.user.last_name}}</a> replied:</h5>
                                    <h5 class="text-left comment-message">{{comment.content}}</h5>
                                    <small>@{{comment.created_at}}</small>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <form action="/commentto/{{users.id}}/{{msg.id}}" method="post">
                                {% csrf_token %}
                                <div class="col comment-input">
                                    <div class="input-group">
                                        <input class="form-control text-secondary bg-light" type="text" name="content" placeholder='Reply' > 
                                        <div class="input-group-append">
                                            <button class ="btn btn-success" type="submit">Send</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <hr id="last-hr">
                    {% endfor %}
                </div>
            </section>
        </div>

        <footer>
            <div class="container footer-container">
                <div class="row">
                    <div class="col">
                        <a href="#"><i id="linkedin" class="fab fa-linkedin fa-2x"></i></a> 
                        <a href="#"><i id="email" class="fas fa-envelope fa-2x"></i></a> 
                        <a href="#"><i id="github" class="fab fa-github fa-2x"></i></a> 
                        <p class="h5 ml-5 pt-2 float-right text-light"><i class="far fa-copyright mr-3"> 2019 Cockpit Crew</i></p> 
                    </div>
                </div>
            </div>
        </footer>
    
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>   
    </body>
</html>