<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% load static %}
        <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon"> 
        <script src= 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel="stylesheet" type='text/css' href="./../../static/stylesheet/css/register.css">
        <title>Register</title>
    </head>
    <body >
        <nav class="navbar nav-index navbar-light navbar-expand-lg static-top ">
            <a href="/" class="nav-link navbar-brand"><img src="./../../static/img/cockpit-brand.png" alt="Brand" class="d-inline-block align-top" width="50" height="50"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse menu" id="navbarSupportedContent" >
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/signin" class="nav-link">Sign in</a>
                    </li>
                    <li class="nav-item">
                        <a href="/registration" class="nav-link">Create Account</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Contact Us</a>
                    </li>
                    <li class="navbar-item">
                        <a href="#" class="nav-link">About Us</a>
                    </li>            
                </ul>
            </div>
        </nav>
        <div class="wrapper">
            <div class="container">  
                <div class="text-danger text-left">
                    <ul class="list-unstyled">
                        {% if messages %}
                            {% for message in messages %}
                            <li class= "form-group row message">
                                <h6><span class='asterisk'>*</span>{{message}}</h6>
                            </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="form-container container">
                <form action="/register" method="post">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label for="first_name"><span class='asterisk'>*</span>First name</label>
                            <input type="text" name="first_name" id="first_name" class="form-control">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="last_name"><span class='asterisk'>*</span>Last name</label>
                            <input type="text" name="last_name" id="last_name" class="form-control">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-12">
                            <label for="email"><span class='asterisk'>*</span>Email</label>
                            <input type="email" name="email" id="email" class="form-control">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-12">
                            <label for="password"><span class='asterisk'>*</span>Password</label>
                            <input type="password" name="password" id="password" class="form-control">
                            <small class="form-text text-muted">
                                Password must be at least 8 characters
                            </small>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-12">
                            <label for="password_confirmation"><span class='asterisk'>*</span>Password confirmation</label>
                            <input type="password" name="password_confirmation" id="password_confirmation" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                                <p>Get daily reminders sent to your email from managers</p>
                            </label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-12">
                            <button type="submit" class="btn btn-info col-sm-12 create-btn form-control text-center">Create Account</button>
                        </div>
                    </div>
                    <a href="/signin" class="form-group"><u>Already have an account? Login</u></a>
                </form> 
            </div> 
        </div>
        <footer id="footer-normal">
            <div class="container footer-container">
                <div class="row footer-row">
                    <div class="col footer-col">
                        <a href="#"><i id="linkedin" class="fab fa-linkedin fa-2x"></i></a> 
                        <a href="#"><i id="email" class="fas fa-envelope fa-2x"></i></a> 
                        <a href="#"><i id="github" class="fab fa-github fa-2x"></i></a> 
                        <p class="h5 ml-5 pt-2 float-right text-light"><i class="far fa-copyright mr-3"> 2019 Cockpit Crew</i></p> 
                    </div>
                </div>
            </div>
        </footer>
        <footer id="footer-small">
            <div class="container footer-container">
                <div class="row">
                    <div class="col">
                        <div class="btn-group dropup">
                            <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Contacts
                            </button>
                            <div class="dropdown-menu">
                                <a href="#"><i id="linkedin" class="fab fa-linkedin fa-2x"></i></a> 
                                <a href="#"><i id="email" class="fas fa-envelope fa-2x"></i></a> 
                                <a href="#"><i id="github" class="fab fa-github fa-2x"></i></a> 
                            </div>
                        </div>
                        <p class="h5 pt-2 float-right text-light"><i class="far fa-copyright"> 2019 Cockpit Crew</i></p> 
                    </div>
                </div>
            </div>
        </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>   
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>   
    </body>
</html>