<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% load static %}
        <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}"" type="image/x-icon"> 
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="./../../static/stylesheet/css/signin.css">
        <title>Sign In</title>
    </head>
    <body>
        <nav class="navbar nav-index navbar-light navbar-expand-lg static-top">
            <a href="/" class="nav-link navbar-brand"><img src="./../../static/img/cockpit-brand.png" alt="Brand" class="d-inline-block align-top" width="50" height="50"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/signin" class="nav-link">Sign in</a>
                    </li>
                    <li class="nav-item">
                        <a href="/registration" class="nav-link">Create Account</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Contact Us</a>
                    </li>
                    <li class="navbar-item">
                        <a href="#" class="nav-link">About Us</a>
                    </li>            
                </ul>
            </div>
        </nav>

        <div class="wrapper">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger container-message" >
                        <h6 class='text-center'>{{message}}</h6>
                    </div>            
                {% endfor %}
            {% endif %}
            <div class="form-container container">
                <form action="/login" method="post">
                    {% csrf_token %}
                    <div class="form-row justify-content-center align-items-center">
                        <div class="form-group col-lg-6">
                            <input type="email" name="email" id="email" placeholder='Email' class="form-control" required>
                        </div>
                    </div>
                    <div class="form-row justify-content-center align-items-center">
                        <div class="form-group col-lg-6">
                            <input type="password" name="password" id="password" placeholder='Password' class="form-control">
                        </div>
                    </div>
                    <div class="form-row justify-content-center align-items-center">
                        <div class="form-group col-lg-6">
                            <button type="submit" class="btn btn-info form-control">Sign In</button>
                        </div>
                    </div>
                <a href="/registration" class="form-row reg-link register-link justify-content-center"><span class='asterisk'>*</span>Don't have an account? Register here!</a>
                </form> 
            </div>
        </div> 
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <a href="#"><i id="linkedin" class="fab fa-linkedin fa-2x"></i></a> 
                        <a href="#"><i id="email" class="fas fa-envelope fa-2x"></i></a> 
                        <a href="#"><i id="github" class="fab fa-github fa-2x"></i></a> 
                        <p class="h5 ml-5 pt-2 float-right text-light"><i class="far fa-copyright mr-3"> 2019 Cockpit Crew</i></p> 
                    </div>
                </div>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>        
    </body>
</html>