<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src= 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel="stylesheet" href="../../static/stylesheet/css/signin.css">
        <title>Sign Page</title>
    </head>
    <body>
        <nav class="navbar nav-index navbar-light bg-light navbar-expand-lg border border-dark"> 
            <ul class="navbar-nav ">
                <li class="navbar-item">
                    <a href="/" class="nav-link navbar-brand"><img src="./../../static/img/cockpit-brand.png" alt="Brand" class="d-inline-block align-top" width="50" height="50"></a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="navbar-item">
                    <a href="/signin" class="nav-link pr-5">Sign in</a>
                </li>
                <li class="navbar-item">
                    <a href="/registration" class="nav-link pr-5">Create Account</a>
                </li>
            </ul>
        </nav>
    
        <div class="container container-message">  
            <div class="text-danger text-left">
                <ul class="list-unstyled">
                    {% if messages %}
                        {% for message in messages %}
                        <li class= "form-group row">
                            <h6>{{message}}</h6>
                        </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
            <div class="form-container">
                <form action="/login" method="post" >
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-10">
                            <label for="email">Email Address:</label>
                            <input type="email" name="email" id="email" class="form-control">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-10">
                            <label for="password">Password:</label>
                            <input type="password" name="password" id="password" class="form-control">
                        </div>
                    </div>
                    <div class="form-row col-md-10">
                        <div class="btn-toolbar">
                            <button type="submit" class="btn btn-primary form-group row">Sign In</button>
                        </div>
                    </div>
                    <a href="/registration" class="form-row register-link">Don't have an account? Register here!</a>
                </form> 
            </div>
        </div> 
        

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <a href="#"><i id="linkedin" class="fab fa-linkedin fa-2x"></i></a> 
                        <a href="#"><i id="email" class="fas fa-envelope fa-2x"></i></a> 
                        <a href="#"><i id="github" class="fab fa-github fa-2x"></i></a> 
                        <p class="h5 ml-5 pt-2 float-right text-light"><i class="far fa-copyright mr-3"> 2019 Cockpit Crew</i></p> 
                    </div>
                </div>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>   
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>                   
    </body>
</html>